/* Work Sans Google font import link */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

/* common */
:root {
    --primary-color: #0B0223;
    --secondary-color: (linear-gradient(180deg, #F948B2 0%, #8758F1 100%));
    --third-color: #3C354F;
    --linear: #FF42A5;
}


/* Header Navigation Styles */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo .nav-head{
 color: var(--linear);
 padding-left: 1.25rem;
font-size: 2.813rem;
font-weight: 700;
}
.nav-logo .nav-span{
    color: #0B0223;
}
.nav-container ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-container li a{
    text-decoration: none;
    padding-right: 1.25rem;
    color: var(--third-color);
    color: #3C354F;
font-size: 1.125rem;
font-weight: 500;
}
.nav-container .li-icon{
    width: 220px;
    height: 50px;
    display: flex;
align-items: center;
justify-content: space-around;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.nav-container .li-icon a .fa-youtube{
color: red;
}

/* Header Banner Styles */
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.banner-head{
    color: var(--primary-color);
font-size: 3rem;
font-weight: 600;
text-transform: uppercase;
}
.banner-span{
font-size: 5.938rem;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text-container{
    padding-top: 120px;
    padding-left: 120px;
   width: 50%;
   height: 100vh;
    background-image: url("../images/Group\ 14.png");
    background-size:contain;
    background-repeat: no-repeat;
    object-fit: contain;
}
.text-container p{
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
text-transform: lowercase;
padding: 10px;
}
.fa-circle-play, .fa-download {
    color: var(--linear)
}
.image-container{
    width: 50%;
    
}
.header-image{
    width: 80%;
    padding-right: 10px;
    padding-top: 20px;
}
.btn1{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
border: 0;
padding: 15px 30px;
margin-top: 30px;
}
.btn2{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
border: 0;
padding: 15px 30px;
}

/* Responsive Design */

/* for mobile devices*/
@media screen and (max-width: 640px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-container ul {
        margin-top: 2rem;
        flex-direction: column;
        gap: 1rem;
    }
    .nav-container .li-dev{
        margin-top: 1rem;
    }
    .nav-container .li-icon{
        margin-top: 3rem;
    }
    .header-container{
        align-items: center;
        flex-direction: column-reverse;
    }
  
    .banner-head{
    font-size: 2rem;
    }
    .banner-span{
    font-size: 3.938rem;
    }
    .text-container{
        padding-top: 10px;
        padding-left: 30px;
      width: 95%;
    margin-left: 15px;
    }
    .text-container p{
    font-size: 1rem;
    }
    .image-container{
        width: 100%;
        margin-bottom: 24px;
    }
    .header-image{
        width: 100%;
    }
    .btn1{
    margin-top: 20px;
    }
}

/* for tablet devices*/
@media screen and (min-width:640px) and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-container ul {
        margin-top: 2rem;
        flex-direction: column;
        gap: 1rem;
    }
    .nav-container .li-dev{
        margin-top: 1rem;
    }
    .nav-container .li-icon{
        margin-top: 3rem;
    }
    .header-container{
        align-items: center;
        flex-direction: column-reverse;
    }
    .banner-head{
        font-size: 2rem;
        }
        .banner-span{
        font-size: 3.938rem;
        }
        .text-container{
            padding-top: 50px;
            padding-left: 200px;
          width: 100%;
        background-position: center;
        }
        .text-container p{
        font-size: 1rem;
        /* text-align:center; */
        }
        .image-container{
            width: 100%;
            margin-bottom: 24px;
            text-align: center;
        }
        .header-image{
            width: 50%;
        }
  
}